JWT_SECRET="HkG+0L60Hn1s1+NpYnbvawKnCvk2S6ziZNNwTdiFym8="
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/privacy_hub"

REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_PASSWORD="password"

NODE_ENV="development"